<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Barbarella{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<!-- MENU -->
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">  <!-- Dodajemy container tutaj -->
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          🧙 Barbarella
        </a>
      </div>
  
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">Podsumowanie</a>
          <a class="navbar-item" href="/podsumowanie">Podsumowanie z zakresem</a>
          <a class="navbar-item" href="/punkty/">Podsumowanie Punktów</a>
        </div>
      </div>
    </div>
  </nav>

    <section class="section">
            {% block content %}
            <!-- Treść podstrony -->
            {% endblock %}
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                © {{ year }} Barbarella GUI – powered by Django & Bulma
            </p>
        </div>
    </footer>
    {% block extra_scripts %}{% endblock %}
</body>
</html>