{% extends "base.html" %}
{% block title %}Podsumowanie wg dat{% endblock %}

{% block content %}
    <h1 class="title is-3">Podsumowanie graczy wg dat</h1>
    <form method="get" class="box">
        {{ form.as_p }}
        <button class="button is-link" type="submit">Pokaż podsumowanie</button>
    </form>

    {% if wyniki %}
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Gracz</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            {% for wynik in wyniki %}
            <tr>
                <td>{{ wynik.0 }}</td>
                <td>{{ wynik.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Brak wyników do wyświetlenia.</p>
    {% endif %}
{% endblock %}