{% extends "barbarella_site/base.html" %}
{% block title %}Podsumowanie graczy{% endblock %}

{% block content %}
    <h1 class="title">Podsumowanie graczy</h1>
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>Gracz</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in page_obj %}
                <tr>
                    <td>{{ entry.gracz }}</td>
                    <td>{{ entry.ilosc }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if page_obj.has_previous %}
            <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
        {% else %}
            <a class="pagination-previous" disabled>Poprzednia</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Następna</a>
        {% else %}
            <a class="pagination-next" disabled>Następna</a>
        {% endif %}
    </nav>
{% endblock %}